In [2]:
print ("Hello World")

Hello World

In [3]:
person = { 'name': 'Zed', 'age':39,  'height':6*12 + 2}

In [5]:
print(type(person))

<class 'dict'>

In [11]:
print(person['name']) #or you can use

Zed

In [10]:
print(person.get('name'))

Zed

In [12]:
print(person.get('state'))

None

In [17]:
person['name'] = "John" #update value with key ‘name’ 
person['age'] += 1 #increment value with key ‘age’ 
person['college'] = True #add value with key ‘college’ 
person['city'] = "Philadelphia" #add value with key ‘city’ 
print(person)

{'name': 'John', 'age': 40, 'height': 74, 'college': True, 'city': 'Philadelphia'}

In [18]:
print('college' in person)

True

In [20]:
del person['college']

In [22]:
print (person)

{'name': 'John', 'age': 40, 'height': 74, 'city': 'Philadelphia'}

In [23]:
person['siblings'] = ['Cory']

In [25]:
person['siblings'].append('Betsy')

In [26]:
print(person)

{'name': 'John', 'age': 40, 'height': 74, 'city': 'Philadelphia', 'siblings': ['Cory', 'Betsy', 'Betsy']}

In [30]:
person_attributes = {'marital status': 'married', 'children':3}

In [32]:
person.update (person_attributes)

In [33]:
print(person)

{'name': 'John', 'age': 40, 'height': 74, 'city': 'Philadelphia', 'siblings': ['Cory', 'Betsy', 'Betsy'], 'marital status': 'married', 'children': 3}

In [47]:
course = {}

In [58]:
course['CIS590'] = 'Intro to Programming'

In [59]:
course.update ({'CIS590': 'Big Data'}) #add new elements

In [60]:
print(course['CIS590'])

Big Data

In [61]:
course

{'CIT590': 'Intro to Programming', 'CIS590': 'Big Data'}

In [67]:
list1 = ['1', 'dog', 'cat', '789']

In [68]:
print(list1)

['1', 'dog', 'cat', '789']

In [69]:
print(len(list1))

4

In [72]:
list1[0]

'1'

In [75]:
list1.append('Hello') #To add new data dekat hujung list

In [76]:
list1

['1', 'dog', 'cat', '789', 'Hello']

In [78]:
list1.pop() #remove the most last of the list

'Hello'

In [79]:
list1

['1', 'dog', 'cat', '789']

In [83]:
list1.remove('789') #remove specific data in list

In [84]:
list1

['1', 'dog', 'cat']

In [85]:
list1.append('789')

In [86]:
list1

['1', 'dog', 'cat', '789']

In [87]:
print('dog' in list1)

True

In [88]:
keys_lst = ['Joey', 'Fred', 'Katie']

In [89]:
value_lst = [6,4, '2 months']

In [90]:
zipped = zip(keys_lst, value_lst)

In [91]:
print(type(zipped))

<class 'zip'>

In [92]:
kids_ages = dict(zipped)

In [93]:
print(kids_ages)

{'Joey': 6, 'Fred': 4, 'Katie': '2 months'}

In [94]:
print(kids_ages['Fred'])

4

In [95]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [97]:
for numbers in numbers: 
    print(numbers)

1
2
3
4
5
6
7
8
9
10

In [104]:
numbers
even_numbers = []

for number in numbers:
    if (number % 2 == 0):
        even_numbers.append(number)

print(even_numbers)

[2, 4, 6, 8, 10]

In [106]:
numbers
odd_numbers = []

for number in numbers:
    if (number % 2 != 0):
        odd_numbers.append(number)

print(odd_numbers)

[1, 3, 5, 7, 9]

In [107]:
planets = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars']

In [109]:
for planet in planets:
    if (planet == 'Sun'):
        print(planet, "is not a planet")
    else:
        print(planet, "is a planet")
        
    if (planet == 'Mercury'):
        print(planet, "is closest to the Sun")

Sun is not a planet
Mercury is a planet
Mercury is closest to the Sun
Venus is a planet
Earth is a planet
Mars is a planet

In [110]:
month = "February"

In [111]:
month

'February'

In [112]:
print (month, "is spelled: ")

February is spelled:

In [114]:
for x in month:
    print(x)

F
e
b
r
u
a
r
y

In [115]:
month = ["January", "February"]

In [116]:
month

['January', 'February']

In [117]:
month.append("March")

In [118]:
month

['January', 'February', 'March']

In [119]:
x = 1
while x <= 10:
    if x == 5:
        break #this exits the entire while loop!
    
    print("x is now:", x)
    x += 1

x is now: 1
x is now: 2
x is now: 3
x is now: 4

In [122]:
for number in range(1,21):
    if (number % 2 != 0):
        if (number % 3 == 0):
            continue
        print(number)  #Print odd numbers 1-21, except those multi of 3

1
5
7
11
13
17
19

In [127]:
def double(x):
    return x*2

double(4)

8

In [125]:
double_1 = lambda x: x*2
double_1(4)

8